.about-section
	&__title
		margin-bottom: 50px
	&__wrapper
		display: flex
		gap: 20px
		justify-content: space-between
	&__inner
		width: 50%
		&:first-of-type
			display: grid
			gap: 10%
	&__slide
		min-height: 200px
	&__description
		background: linear-gradient($green-03, $green-08)
		min-height: 200px
		padding: 10px
		display: grid
		gap: 5%


		&:not(:first-of-type)
			background: linear-gradient($blue-015, $blue-035)
			min-height: 200px

		&.active
			display: block
		&:not(.active)
			display: none

	.swiper-about
		overflow: hidden
		.swiper-slide
			overflow: hidden
			display: flex
			align-items: center

			img
				object-fit: cover
				min-height: 500px

		// .swiper-slide.swiper-slide-next.swiper-slide-visible,
		// .swiper-slide.swiper-slide-visible
		// 	position: relative
		// 	width: 200px
		// 	height: 200px

		// 	&::before
		// 		background: linear-gradient($blue-015, $blue-035)
		// 		content: ''
		// 		position: absolute
		// 		display: block
		// 		z-index: 1
		// 		width: 100%
		// 		height: 100%
		// 	img
		// 		object-fit: cover
		// 		min-height: 200px


		// .swiper-slide.swiper-slide-active.swiper-slide-visible.swiper-slide-thumb-active,
		// .swiper-slide.swiper-slide-next.swiper-slide-visible.swiper-slide-thumb-active,
		// .swiper-slide.swiper-slide-visible.swiper-slide-thumb-active
		// 	position: relative
		// 	&::before
		// 		background: linear-gradient($green-03, $green-08)
		// 		content: ''
		// 		position: absolute
		// 		display: block
		// 		z-index: 1
		// 		width: 100%
		// 		height: 100%
		// .swiper-container.gallery-thumbs
		// 	.swiper-wrapper
		// 		height: 200px

.swiper-about .swiper-slide-thumb-active
	opacity: 1
