@import "variables"
@import "mixins/padding-margin/padding-margin"
@import "mixins/states/_states"
@import "mixins/text/text"

html
	height: 100%

body
	display: flex
	flex-direction: column
	height: 100%
	width: 100%
	font-family: $primary-font
	background-color: $green-03
	background-position: center
	background-image: url('../../img/decors/bg-image.png')
	background-size: contain
	margin: 0
	background-repeat: repeat
	background-attachment: fixed

	&::before
		content: ''
		position: fixed
		display: block
		background: linear-gradient($green-06, $green)
		width: 100%
		height: 100%
		margin: 0
		top: 0
		left: 0
		bottom: 0
		right: 0
		z-index: 1

.container
	display: flex
	flex-direction: column
	min-height: 100%
	margin: 0 auto
	padding: 0 10px
	max-width: 1440px
	position: relative
	z-index: 2

.main
	flex-grow: 1

.visually-hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	padding: 0
	border: 0
	clip: rect(0 0 0 0)
	overflow: hidden

.button,
.link
	font-size: 16px
	cursor: pointer
	text-decoration: none
	color: $black
	background: transparent
	border: none
	@include states-link-button

a
	@include  states-link-button

.content
	height: 100px
	width: 200px

	&:focus-within
		background-color: yellow

	a
		width: 200px
		height: 100px
		display: inline-block

img
	max-width: 100%
	object-fit: contain

.section
	color: $white
	text-align: center

	@include section

	.secondary-title
		color: $white
		font-family: $secondary-font
		text-shadow: 2px 2px 2px $black

.secondary-title
	text-transform: uppercase
	font-weight: 700
	margin-bottom: 50px
