.swiper.swiper-about#swiper-about
	.swiper-container.gallery-top
		.swiper-wrapper
			.swiper-slide(data-desc='1')
				+picture('img/content/slider-2', 'png', 'сельское хозяйство')
				//- .swiper-lazy-preloader
			.swiper-slide(data-desc='2')
				+picture('img/content/slider2', 'png', 'сельское хозяйство')
				//- .swiper-lazy-preloader
			.swiper-slide(data-desc='3')
				+picture('img/content/slider3', 'png', 'сельское хозяйство')
				//- .swiper-lazy-preloader
			.swiper-slide(data-desc='4')
				+picture('img/content/slider2', 'png', 'сельское хозяйство')
		.swiper-button-prev
		.swiper-button-next

	.swiper-container.gallery-thumbs
		.swiper-wrapper
			.swiper-slide(data-desc='1')
				+picture('img/content/slider-2', 'jpg', 'сельское хозяйство')
			.swiper-slide(data-desc='2')
				+picture('img/content/slider2', 'png', 'сельское хозяйство')
			.swiper-slide(data-desc='3')
				+picture('img/content/slider3', 'png', 'сельское хозяйство')
			.swiper-slide(data-desc='4')
				+picture('img/content/slider2', 'png', 'сельское хозяйство')

