.swiper.swiper-about
	.swiper-container.gallery-top
		.swiper-wrapper
			.swiper-slide
				+picture('img/content/slider-2', 'png', 'сельское хозяйство')
				//- .swiper-lazy-preloader
			.swiper-slide
				+picture('img/content/slider2', 'png', 'сельское хозяйство')
				//- .swiper-lazy-preloader
			.swiper-slide
				+picture('img/content/slider3', 'png', 'сельское хозяйство')
				//- .swiper-lazy-preloader
			.swiper-slide
				+picture('img/content/slider2', 'png', 'сельское хозяйство')
		.swiper-button-prev
		.swiper-button-next

	.swiper-container.gallery-thumbs
		.swiper-wrapper
			.swiper-slide
				+picture('img/content/slider-2', 'jpg', 'сельское хозяйство')
			.swiper-slide
				+picture('img/content/slider2', 'png', 'сельское хозяйство')
			.swiper-slide
				+picture('img/content/slider3', 'png', 'сельское хозяйство')
			.swiper-slide
				+picture('img/content/slider2', 'png', 'сельское хозяйство')

