section.section.about-section
	h2.secondary-title.about-section__title О нас
	.about-section__wrapper
		.about-section__inner
			.about-section__description.description.active(data-sliderDesc='1')
				p.descrition__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				p.descrition__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				span.description__docs
					| Документы
			.about-section__description(data-sliderDesc='2')
				p.descrition__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				p.descrition__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				span.description__docs
					| Документы
			.about-section__description(data-sliderDesc='3')
				p.descrition__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				p.descrition__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				span.description__docs
					| Документы
			.about-section__description(data-sliderDesc='4')
				p.descrition__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				p.descrition__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				span.description__docs
					| Документы
			.about-section__description.active(data-sliderDesc='1')
				p.about-section__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				p.about-section__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
			.about-section__description(data-sliderDesc='2')
				p.about-section__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				p.about-section__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
			.about-section__description(data-sliderDesc='3')
				p.about-section__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				p.about-section__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
			.about-section__description(data-sliderDesc='4')
				p.about-section__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				p.about-section__text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
		.about-section__inner
			include aboutslider.pug
