.swiper.swiper-main
	.swiper-wrapper
		.swiper-slide
			+picture('img/content/slider1', 'jpg', 'сельское хозяйство')
			.swiper-lazy-preloader
		.swiper-slide
			+picture('img/content/slider2', 'jpg', 'сельское хозяйство')
			.swiper-lazy-preloader
		.swiper-slide
			+picture('img/content/slider3', 'jpg', 'сельское хозяйство')
			.swiper-lazy-preloader
	.swiper-pagination

	h1.primary-title «ЗАЩИТА РАСТЕНИЙ - основа продовольственной безопасности»

	//- .swiper-button-prev
	//- .swiper-button-next
	//- .swiper-scrollbar