section.section.news-section
	h2.secondary-title.news-section__title Новости
	.news-section__wrapper
		.news-section__news.news
			.news__programme
				+picture('img/decors/news-1', 'jpg', 'news')
				h3.news__title Кукурузные поля
				.news__inner
					time.news__text.base-text(datetime="2024-03-23") 23.03.24
					p.news__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.news__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.news__link(href="news-0.html") Подробнее
					span.visually-hidden Перейти на программу номер 0

			.news__programme.image2
				+picture('img/decors/news-1', 'jpg', 'news')
				h3.news__title Кукурузные поля
				.news__inner
					time.news__text.base-text(datetime="2024-03-23") 23.03.24
					p.news__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.news__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.news__link(href="news-0.html") Подробнее
					span.visually-hidden Перейти на программу номер 0

			.news__programme.image3
				+picture('img/decors/news-1', 'jpg', 'news')
				h3.news__title Кукурузные поля
				.news__inner
					time.news__text.base-text(datetime="2024-03-23") 23.03.24
					p.news__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.news__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.news__link(href="news-0.html") Подробнее
					span.visually-hidden Перейти на программу номер 0

			.news__programme.image3
				+picture('img/decors/news-1', 'jpg', 'news')
				h3.news__title Кукурузные поля
				.news__inner
					time.news__text.base-text(datetime="2024-03-23") 23.03.24
					p.news__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.news__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.news__link(href="news-0.html") Подробнее
					span.visually-hidden Перейти на программу номер 0
