section.section.news-section
	h2.secondary-title.news-section__title Новости
	.news-section__wrapper
		.news-section__news.news
			.news__programme
				a.link.news__link.info-first(href="news-0.html")
					span.visually-hidden Перейти на программу номер 0
				p.news__text.base-text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				p.news__text.base-text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.news__link(href="eduaction-0.html") Подробнее
		.news-section__news.news
			.news__programme.image2
				.news__inner
					p.news__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.news__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					a.link.news__link.info-second(href="news-1.html")
						span.visually-hidden Перейти на программу номер 1
					a.link.news__link(href="eduaction-1.html") Подробнее
			.news__mini
				.news__programme.image3
					a.link.news__link(href="news-2.html")
						span.visually-hidden Перейти на программу номер 2
					p.news__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.news__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					a.link.news__link(href="news-2.html") Подробнее
